#PublishResultIsOptimizedBuildToggle > Label:disabled {
    color: rgb(76, 244, 144);
    opacity: 1;
}

#publishModuleClearDataToggle > Label {
    color: rgb(76, 244, 144);
}

#publishModuleDebugModeToggle > Label {
    color: rgb(76, 244, 144);
}
